[submodule "dependencies/argparse"]
	path = dependencies/argparse
	url = https://hub.fastgit.org/p-ranav/argparse
[submodule "dependencies/midifile"]
	path = dependencies/midifile
	url = https://github.com/craigsapp/midifile.git
